{% extends "blog_app/base.html" %}
{% block content %}
<h1 style="text-align: center; color: honeydew;">About this Website</h1>
<p style="text-align: center; font-size:x-large; font-style: oblique; color: honeydew;"  >My Blog is used to write a blog about any topic you want.
     By sign up, you can write your blog and any user can see your post after you publish it!. The user can also comment on your post. The author has the right to approve or delete the comment on their post.<br><br></p>
<p style="text-align: center; font-size:x-large; color: honeydew;">Thanks for visiting!</p>
{% endblock %}