{% extends "blog_app/base.html" %}
{% block content %}
<div class="centerstage">
    {% for post in post_list %}
    <div class="post">
        <h1><a style="color:purple;" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Published on: {{post.published|date:"D M Y"}}</p>
        </div>
        <a style="color: darkorchid;" href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}